@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/**/
/* reset */
/**/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    background-position: 50% 50%;
    box-sizing: border-box;
    font: inherit;
    text-align: inherit;
    text-decoration: none;
    letter-spacing: inherit;
    color: inherit;
}


/**/
/* defaults */
/**/
html, body {
    background: #F5F8FA;
    font-family: 'Roboto Light', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color: #62727B;
    -webkit-font-smoothing: antialiased;
}
label, img, svg {
    display: block;
}
button {
    cursor: pointer;
}

a {
    color: #0052CC;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767.98px) {
    html, body {
        font-size: 14px;
    }
}

/**/
/* grid */
/**/
.container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}
.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}
.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
@media screen and (max-width: 1279.98px) {
    .contanier {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 1023.98px) {
    .row {
        margin-right: -12px;
        margin-left: -12px;
    }
    .col {
        padding-right: 12px;
        padding-left: 12px;
    }
}
@media screen and (max-width: 767.98px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .row {
        margin-right: -8px;
        margin-left: -8px;
    }
    .col {
        padding-right: 8px;
        padding-left: 8px;
    }
}

/**/
/* dividers */
/**/
hr {
    border-top: 1px solid #DADFE4;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**/
/* alignment */
/**/
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-danger {
    color: #ef0000;
}
.text-small {
    font-size: 13px;
}

/**/
/* margins */
/**/
.mt-1 {
    margin-top: 16px;
}
.mt-2 {
    margin-top: 32px;
}

.mt-3 {
    margin-top: 48px;
}
.mt-4 {
    margin-top: 64px;
}
.mt-5 {
    margin-top: 80px;
}
.mb-1 {
    margin-bottom: 16px;
}
.mb-2 {
    margin-bottom: 32px;
}
.mb-3 {
    margin-bottom: 40px;
}
.ms-auto {
    margin-left: auto;
    margin-right: auto;
}

/**/
/* headings */
/**/
h1{
    font-size: 40px;
    line-height: 1.125;
    font-weight: 700;
    color: #23202E;
}
h2 {
    font-size: 36px;
    line-height: 1.125;
    font-weight: 700;
    color: #23202E;
}
h3 {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    color: #23202E;
}
h4 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    color: #23202E;
}
h5 {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 700;
    color: #23202E;
}
h6 {
    line-height: 1.25;
    font-weight: 700;
    color: #23202E;
}

/**/
/* input */
/**/
.form-input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border-radius: 6px;
    border: 1px solid #D0D0D0;
    background-color: #FFF;
    box-shadow: 0px 2px 2px rgba(196, 196, 235, 0.25);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    resize: none;
    transition-duration: 0.25s;
    transition-property: border;
    -webkit-appearance: none;
}
.form-input:focus {
    border-color: #1097E2;
}
.form-input[disabled] {
    background-color: #F5F8FA;
}
.form-input::placeholder {
    font-weight: 400;
    color: #96A2A8;
    transition-duration: 0.25s;
    transition-property: color;
}
.form-input:focus::placeholder {
    color: transparent;
}
.form-input.is-invalid {
    border: 1px solid #ef0000;
}

/**/
/* Rest */
/**/
.card {
    border: 1px solid #ccc;
    box-shadow: 0 0 13px #ccc;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    background: #f1f1f1;
}

.btn-primary {
    background: #0052CC;
    color: #fff;
}

.btn-primary:hover {
    background: #0065FF;
}

.btn-block {
    width: 100%;
    padding: 10px;
    text-align: center;
}

div.alert {
    display: block;
    padding: 10px 10px;
    background: #fd4e4e;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ac0202;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt, dd {
    font-size: 16px;
    margin-bottom: 5px;
    float: left;
    width: 50%;
    padding: 0;
}
dt {
    font-weight: bold;
}
#google-auth-button {
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    white-space: nowrap;
    color: #42526E;
    cursor: pointer;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
    height: 40px !important;
    line-height: 40px !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23EA4335' d='M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z'/%3E%3Cpath fill='%234285F4' d='M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z'/%3E%3Cpath fill='%23FBBC05' d='M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z'/%3E%3Cpath fill='%2334A853' d='M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z'/%3E%3Cpath fill='none' d='M0 0h48v48H0z'/%3E%3C/svg%3E") no-repeat scroll 10px 0px;
    background-size: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0 !important;
    font-weight: bold;
}

.flash-message {
    display: block;
    width: 100%;
    padding: 15px;
    background: #f1e38c;
    color: #111;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

#error-list {
    list-style: none;
}
